@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.image{
    background: 
    linear-gradient(
      rgba(32, 29, 29, 0.98), 
      rgba(24, 18, 18, 0.55)
    ),url(/public/images/IDC-Directions.jpg);
background-repeat: no-repeat;
background-size: cover;
background-size: cover;
background-blend-mode: color;
}